<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <nav class="topnav">
            <a class="topnav-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
            <span class="topnav-links">
              <a href="{{ site.baseurl }}/"{% if page.url == "/" %} class="active"{% endif %}>About</a>
              <a href="{{ site.baseurl }}/blog/"{% if page.url contains "/blog" or page.layout == "post" %} class="active"{% endif %}>Blog</a>
            </span>
          </nav>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

  </body>
</html>
